.formulario {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 8px;
}


/* ----------------- SELECTS --------------------- */

.select-wrapper {
    position: relative;
}

select {
    width: 100%;
    padding: 18px 52px 18px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 15px auto 25px;
    transition: all 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%236D5D7A' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    padding-right: 40px;
}

select:focus {
    outline: 2px solid rgba(11, 98, 224, 0.12)
}

select:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(109, 93, 122, 0.1);
}

select option {
    background-color: white;
    font-size: 1rem;
    padding: 12px 15px;
    border: none;
    transition: all 0.3s ease;
}




/* ----------------- INPUTS --------------------- */

.inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label.campo {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #222;
}

input[type="text"],
input[type="current-password"] {
    width: 100%;
    padding: 16px 18px;
    border-radius: 10px;
    border: 1.5px solid #ddd;
    background: #fafafa;
    font-size: 16px;
    min-height: 54px;
}

