:root {
    --azul-600: #0e67e6;
    --azul-500: #2a75dd;
    --card-borda: 10px;
    --cinza: #8b8b8b;
    /* ao mexer no css do projeto, utilizar somente ESSAS CORES !!! bjs - estrela */
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.ilustracao {
    width: 100%;
    height: auto;
    max-height: 900px;
    object-fit: contain;
}

.wrap {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;
}


.esquerda {
    padding: 56px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 28px;
    align-items: flex-start;
    background: #fff;
}


.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--azul-600);
    font-weight: 700;
    font-size: 20px;
}

.logo .icon {
    width: 28px;
    height: 28px;
    background: var(--azul-600);
    border-radius: 6px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}


h1 {
    margin: 18px 0 0 0;
    font-size: 40px;
    line-height: 1;
    color: #111;
    font-weight: 800;
}

p .descricao {
    margin: 6px 0 18px 0;
    color: var(--cinza);
}

